{% extends '__base_auth.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% trans 'Восстановление пароля' %} PumpSkill{% endblock %}

{% block content %}
<div class="card-header text-center">
    <h4 class="card-title">{% trans 'Сброс пароля' %}</h4>
</div>
<div class="card-body">
    <p>{% trans 'Мы отправили на указанный e-mail инструкции для восстановления пароля' %}.</p>
    <p>{% trans 'Если письма нет' %} - <b>{% trans 'проверь папку' %} <span class="text-danger">{% trans 'СПАМ' %}!</span></b></p>
</div>
{% endblock %}