{% extends '__base_auth.html' %}

{% load static %}

{% block title %}Изменение пароля PumpSkill{% endblock %}

{% block content %}

<div class="card-header text-center">
    <h4 class="card-title">Изменить пароль</h4>
</div>
<div class="card-body">

    <!-- <form action="{% url 'appaccounts:login' %}" method="post"> -->
    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <label class="form-label" for="email">Старый пароль</label>
            <div class="input-group input-group-merge">
                {{ form.old_password }}
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <span class="fa fa-envelope"></span>
                    </div>
                </div>
            </div>
        </div>
        {% if form.old_password.errors %}
        <div class="alert alert-danger" role="alert" id="check_confirm_alert">
            <ul class="py-0 px-3 my-0">
                {% for error in form.old_password.errors %}
                <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        
        
        <div class="form-group">
            <label class="form-label" for="password">Новый пароль:</label>
            <div class="input-group input-group-merge">
                {{ form.new_password1 }}
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <span class="fa fa-lock"></span>
                    </div>
                </div>
            </div>
        </div>
        {% if form.new_password1.errors %}
        <div class="alert alert-danger" role="alert" id="check_confirm_alert">
            <ul class="py-0 px-3 my-0">
                {% for error in form.new_password1.errors %}
                <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="form-group">
            <label class="form-label" for="password">Подтверждение:</label>
            <div class="input-group input-group-merge">
                {{ form.new_password2 }}
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <span class="fa fa-lock"></span>
                    </div>
                </div>
            </div>
        </div>
        {% if form.new_password2.errors %}
        <div class="alert alert-danger" role="alert" id="check_confirm_alert">
            <ul class="py-0 px-3 my-0">
                {% for error in form.new_password2.errors %}
                <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="form-group ">
            <button type="submit" class="btn btn-primary btn-block">Изменить пароль</button>
        </div>
        <div class="text-center">
            <a href="{% url 'appmain:index' %}" class="text-black-70"
                style="text-decoration: underline;">На главную</a>
        </div>
    </form>
</div>
{% endblock %}