{% extends '__base_auth.html' %}

{% load static %}

{% block title %}Сброс пароля PumpSkill{% endblock %}

{% block content %}
<div class="card-header text-center">
    <h4 class="card-title">Забыл пароль?</h4>
    <p class="card-subtitle">Сброс пароля от аккаунта</p>
</div>
<div class="card-body">
    <div class="alert alert-light border-1 border-left-3 border-left-primary d-flex align-items-center role=">
        <i class="fa fa-check-circle fa-3x mr-3 text-success"></i>
        <div class="text-body">На указанный e-mail будет отправлено письмо с инструкциями по сбросу
            пароля. Если письма нет - проверь папку СПАМ!</div>
    </div>
    <form action="{% url 'appaccounts:password_reset' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="form-label" for="id_email">Email:</label>
            <div class="input-group input-group-merge">
                {{ form.email }}
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <span class="fa fa-envelope"></span>
                    </div>
                </div>
            </div>
        </div>
        {% if form.email.errors %}
        <div class="alert alert-danger" role="alert" id="check_confirm_alert">
            <ul class="py-0 px-3 my-0">
                {% for error in form.email.errors %}
                <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary btn-block">Сбросить пароль</button>
    </form>
</div>
<div class="card-footer text-center text-black-50">Вспомнил пароль? <a href="{% url 'appaccounts:login' %}">Войти</a>
</div>

{% endblock %}