.accordion .card,
.accordion .card-nav .tab-content,
.card-nav .accordion .tab-content {
  overflow: hidden;
}

.accordion .card-nav .tab-content:not(:first-of-type) .card-header:first-child,
.accordion .card:not(:first-of-type) .card-header:first-child,
.card-nav .accordion .tab-content:not(:first-of-type) .card-header:first-child {
  border-radius: 0;
}

.accordion .card-nav .tab-content:not(:first-of-type):not(:last-of-type),
.accordion .card:not(:first-of-type):not(:last-of-type),
.card-nav .accordion .tab-content:not(:first-of-type):not(:last-of-type) {
  border-bottom: 0;
  border-radius: 0;
}
.accordion .card-nav .tab-content:first-of-type,
.accordion .card:first-of-type,
.card-nav .accordion .tab-content:first-of-type {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.accordion .card-nav .tab-content:last-of-type,
.accordion .card:last-of-type,
.card-nav .accordion .tab-content:last-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.accordion .card-nav .tab-content .card-header,
.accordion .card .card-header,
.card-nav .accordion .tab-content .card-header {
  margin-bottom: 0;
}
.accordion {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 1.5rem;
}
.accordion__item {
  position: relative;
  display: block;
}
.accordion__item:not(:last-child) {
  margin-bottom: -1px;
  border-bottom: 1px solid #ebeff2;
}
.accordion__item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.accordion__item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.accordion__item:focus,
.accordion__item:hover {
  z-index: 1;
  text-decoration: none;
}
.accordion__toggle {
  padding: 0.75rem 0;
  display: flex;
  align-items: center;
  width: 100%;
  color: #303840;
  font-weight: 500;
}
.accordion__toggle-icon {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
.accordion__item.open .accordion__toggle-icon {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.accordion__menu-link {
  display: flex;
  align-items: center;
  width: 100%;
  color: rgba(48, 56, 64, 0.7);
  padding: 0.5rem 0;
  font-size: 13px;
  line-height: 1.5rem;
}
.accordion__menu-link:not(:last-child) {
  margin-bottom: -1px;
  border-bottom: 1px solid #ebeff2;
}
.accordion__menu-link:focus,
.accordion__menu-link:hover {
  z-index: 1;
  background-color: #f0f8ff;
}
.accordion__menu-link.active {
  color: #303840;
  font-weight: 500;
}
.accordion__menu-link a {
  color: inherit;
}
.accordion__submenu {
  padding: 0.5rem 0;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.accordion__submenu a {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 13px;
  padding: 0 1rem;
  line-height: 1.5rem;
}
.accordion__submenu a.active {
  font-weight: 500;
  color: #303840;
}
.accordion--boxed .accordion__toggle {
  padding: 0.75rem 1rem 0.75rem 1.5rem;
}
.accordion--boxed .accordion__menu-link {
  padding: 0.5rem 1rem 0.5rem 1.5rem;
}
.card-shadow {
    -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.14);
}

.bg-a {
    display: block;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    height: 168px;
}