{% extends '__base.html' %}
{% load i18n %}
{% load static %}
{% block css_head %}{% endblock %}
{% block title %}{% trans 'Управление тестами' %}{% endblock %}
{% block content %}

<!-- Header Layout -->
<div class="mdk-header-layout js-mdk-header-layout">

    <!-- Header -->
    {% include '_main_menu.html' %}
    <!-- // END Header -->

    <!-- Header Layout Content -->
    <div class="mdk-header-layout__content d-flex flex-column">

        <div class="page ">

            <div class="container page__container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'appmain:index' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'appmain:dashboard' %}">
                        {% trans 'Панель управления' %}</a>
                    </li>
                    <li class="breadcrumb-item"><a href="{% url 'appcourses:manage_course_list' %}">
                        {% trans 'Список курсов' %}</a>
                    </li>
                    <li class="breadcrumb-item active">{% trans 'Управление тестами' %}</li>
                </ol>
                {% include '_messages.html' %}

                <div class="container page__container">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div data-toggle="lists" data-lists-values='[
        "js-lists-values-active",
        "js-lists-values-subject",
        "js-lists-values-language",
        "js-lists-values-title",
        "js-lists-values-type"
      ]' data-lists-sort-by="js-lists-values-revenue" data-lists-sort-desc="true" class="table-responsive">
                                    <table class="table table-nowrap m-0">
                                        <thead class="thead-light">
                                        <tr class="text-uppercase small">
                                            <th style="width:50px">
                                                #
                                            </th>
                                            <th style="width:50px">
                                                <a href="javascript:void(0)" class="sort"
                                                   data-sort="js-lists-values-active">Активность</a>
                                            </th>
                                            <th style="width:200px">
                                                <a href="javascript:void(0)" class="sort"
                                                   data-sort="js-lists-values-subject">subject</a>
                                            </th>
                                            <th style="width:200px">
                                                <a href="javascript:void(0)" class="sort"
                                                   data-sort="js-lists-values-language">language</a>
                                            </th>
                                            <th>
                                                <a href="javascript:void(0)" class="sort"
                                                   data-sort="js-lists-values-title">title</a>
                                            </th>
                                            <th style="width:70px">
                                                <a href="javascript:void(0)" class="sort"
                                                   data-sort="js-lists-values-type">type</a>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody class="list">

                                        {% for quiz in quiz_list %}
                                        <tr {% if quiz.active %} style="background-color: #8bc34a; font-weight:bold;" {% endif %}>
                                            <td>
                                                {{forloop.counter}}
                                            </td>
                                            {% with manage_url=quiz.get_manage_url %}
                                            <td>
                                                <span class="js-lists-values-active">{{ quiz.active }}</span>
                                            </td>
                                            <td>
                                                <a class="js-lists-values-subject" href="{{ manage_url }}">
                                                    {{ quiz.subject }}
                                                </a>
                                            </td>
                                            <td>
                                                <a class="js-lists-values-language" href="{{ manage_url }}">
                                                    {{ quiz.language }}
                                                </a>
                                            </td>
                                            <td>
                                                <a class="js-lists-values-title" href="{{ manage_url }}">
                                                    {{ quiz.title }}
                                                </a>
                                            </td>
                                            <td>
                                                <a class="js-lists-values-type" href="{{ manage_url }}">
                                                    {{ quiz.get_type_display }}
                                                </a>
                                            </td>
                                            {% endwith %}
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- // END Header Layout Content -->

</div>
<!-- // END Header Layout -->
{% endblock %}
{% block js_body %}
{% include '_list_js.html' %}
{% endblock %}