{% extends 'appaccounts/__base_profile_edit.html' %}

{% load i18n %}
{% block section1_title %}{% trans 'Изменение пароля' %}{% endblock %}

{% block section1_content %}
<div class="list-group list-group-form">
    <div class="list-group-item {% if not profile.need_password %}d-none{% endif %}">
        <div class="form-group row mb-0">
            <label class="col-form-label col-sm-3">{% trans 'Текущий пароль' %}</label>
            <div class="col-sm-9">
                {% if profile.need_password %}
                    {{ form.oldpassword }}
                {% else %}
                    <input type="password" name="oldpassword" placeholder="Текущий пароль" class="form-control form-control-prepended" required="" id="id_oldpassword" value="{{ user.password }}" hidden readonly>
                {% endif %}
                {% if form.oldpassword.errors %}
                <div class="alert alert-danger my-2" role="alert" id="check_confirm_alert">
                    <ul class="py-0 px-3 my-0">
                        {% for error in form.oldpassword.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="list-group-item">
        <div class="form-group row mb-0">
            <label class="col-form-label col-sm-3">{% trans 'Новый пароль' %}</label>
            <div class="col-sm-9">
                {{ form.password1 }}
                {% if form.password1.errors %}
                <div class="alert alert-danger my-2" role="alert" id="check_confirm_alert">
                    <ul class="py-0 px-3 my-0">
                        {% for error in form.password1.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="list-group-item">
        <div class="form-group row mb-0">
            <label class="col-form-label col-sm-3">{% trans 'Подтверждение' %}</label>
            <div class="col-sm-9">
                {{ form.password2 }}
                {% if form.password2.errors %}
                <div class="alert alert-danger my-2" role="alert" id="check_confirm_alert">
                    <ul class="py-0 px-3 my-0">
                        {% for error in form.password2.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}