{% extends '__base_auth.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% trans 'Регистрация на' %} PumpSkill{% endblock %}

{% block content %}

<div class="card-header text-center">
    <h4 class="card-title">{% trans 'Регистрация' %}</h4>
    <p class="card-subtitle">{% trans 'Создание нового аккаунта' %}</p>
</div>
<div class="card-body">

    {% load socialaccount %}
    <a href="{% provider_login_url 'github' %}" class="btn btn-light btn-block">
        <span class="fa fa-github fa-2x mr-2"></span>
        {% trans 'Войти через' %} Github
    </a>

    <div class="page-separator">
        <div class="page-separator__text">{% trans 'или' %}</div>
    </div>

    <form action="{% url 'appaccounts:register' %}" method="post">
        
        {% csrf_token %}
        <div class="form-group">
            <label class="form-label" for="username">Login:</label>
            <div class="input-group input-group-merge">
                {{ form.username }}
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <span class="fa fa-user"></span>
                    </div>
                </div>
            </div>
        </div>
        {% if form.username.errors %}
        <div class="alert alert-danger" role="alert" id="check_confirm_alert">
            {% for error in form.username.errors %}
            <strong>{{ error|escape }}</strong>
            {% endfor %}
        </div>
        {% endif %}

        <div class="form-group">
            <label class="form-label" for="id_email">Email:</label>
            <div class="input-group input-group-merge">
                {{ form.email }}
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <span class="fa fa-envelope"></span>
                    </div>
                </div>
            </div>
        </div>
        {% if form.email.errors %}
        <div class="alert alert-danger" role="alert" id="check_confirm_alert">
            {% for error in form.email.errors %}
            <strong>{{ error|escape }}</strong>
            {% endfor %}
        </div>
        {% endif %}

        <div class="form-group">
            <label class="form-label" for="id_password1">{% trans 'Пароль' %}:</label>
            <div class="input-group input-group-merge">
                {{ form.password1 }}
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <span class="fa fa-lock"></span>
                    </div>
                </div>
            </div>
            <small class="text-muted">* {% trans 'Минимум 8 символов. Не должен состоять только из цифр' %}</small>
        </div>
        {% if form.password1.errors %}
        <div class="alert alert-danger" role="alert" id="check_confirm_alert">
            <ol class="py-0 px-3 my-0">
                {% for error in form.password1.errors %}
                <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
            </ol>
        </div>
        {% endif %}

        <div class="form-group">
            <label class="form-label" for="id_password1">{% trans 'Подтверждение' %}:</label>
            <div class="input-group input-group-merge">
                {{ form.password2 }}
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <span class="fa fa-lock"></span>
                    </div>
                </div>
            </div>
        </div>
        {% if form.password2.errors %}
        <div class="alert alert-danger" role="alert" id="check_confirm_alert">
            <ul class="py-0 px-3 my-0">
                {% for error in form.password2.errors %}
                <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <button type="submit" class="btn btn-primary btn-block mb-2">{% trans 'Создать аккаунт' %}</button>
    </form>
</div>
<div class="card-footer text-center text-black-50">{% trans 'Уже зарегестрированы' %}? <a
        href="{% url 'appaccounts:login' %}">{% trans 'Войти' %}</a></div>


{% endblock %}