
<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Aeroland – Responsive App Landing and Website Bootstrap4 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>

    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area gradient--secondary">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_box text-center">
                        <h2 class="breadcrumb-title">Box Icon</h2>
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="index.html">Elements</a></li>
                            <li class="breadcrumb-item active">Box Icon</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->

    <div class="site-wrapper-reveal">

        <div class="saas-feature section-space--ptb_90 bg-gray">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center section-space--mb_60">
                            <h2 class="font-weight--light mb-15">Developed for Higher Business Growth</h2>
                            <span class="section-text">Offer your business with the best assistance for growth.</span>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 wow move-up">
                        <!-- Service Grid Start -->
                        <div class="service-grid">
                            <div class="ht-service-box--one style-03">
                                <a href="#">
                                    <div class="image__media">
                                        <img src="assets/images/icons/aeroland-box-image-01.png" class="img-fluid" alt="aeroland-app-showcase-box-icon-image-01">
                                    </div>
                                    <div class="content">
                                        <h6 class="heading">
                                            Connect ideas
                                        </h6>
                                        <div class="service_text">Consider this app a platform for connecting people from everywhere based on their preferences.</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- Service Grid End -->
                    </div>
                    <div class="col-lg-4 col-md-6 wow move-up">
                        <!-- Service Grid Start -->
                        <div class="service-grid">
                            <div class="ht-service-box--one style-03">
                                <a href="#">
                                    <div class="image__media">
                                        <img src="assets/images/icons/aeroland-box-image-02.png" class="img-fluid" alt="aeroland-app-showcase-box-icon-image-01">
                                    </div>
                                    <div class="content">
                                        <h6 class="heading">
                                            Connect ideas
                                        </h6>
                                        <div class="service_text">Consider this app a platform for connecting people from everywhere based on their preferences.</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- Service Grid End -->
                    </div>
                    <div class="col-lg-4 col-md-6 wow move-up">
                        <!-- Service Grid Start -->
                        <div class="service-grid">
                            <div class="ht-service-box--one style-03">
                                <a href="#">
                                    <div class="image__media">
                                        <img src="assets/images/icons/aeroland-box-image-03.png" class="img-fluid" alt="aeroland-app-showcase-box-icon-image-01">
                                    </div>
                                    <div class="content">
                                        <h6 class="heading">
                                            Connect ideas
                                        </h6>
                                        <div class="service_text">Consider this app a platform for connecting people from everywhere based on their preferences.</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- Service Grid End -->
                    </div>
                    <div class="col-lg-4 col-md-6 wow move-up">
                        <!-- Service Grid Start -->
                        <div class="service-grid">
                            <div class="ht-service-box--one style-03">
                                <a href="#">
                                    <div class="image__media">
                                        <img src="assets/images/icons/aeroland-box-image-04.png" class="img-fluid" alt="aeroland-app-showcase-box-icon-image-01">
                                    </div>
                                    <div class="content">
                                        <h6 class="heading">
                                            Connect ideas
                                        </h6>
                                        <div class="service_text">Consider this app a platform for connecting people from everywhere based on their preferences.</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- Service Grid End -->
                    </div>
                    <div class="col-lg-4 col-md-6 wow move-up">
                        <!-- Service Grid Start -->
                        <div class="service-grid">
                            <div class="ht-service-box--one style-03">
                                <a href="#">
                                    <div class="image__media">
                                        <img src="assets/images/icons/aeroland-box-image-05.png" class="img-fluid" alt="aeroland-app-showcase-box-icon-image-01">
                                    </div>
                                    <div class="content">
                                        <h6 class="heading">
                                            Connect ideas
                                        </h6>
                                        <div class="service_text">Consider this app a platform for connecting people from everywhere based on their preferences.</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- Service Grid End -->
                    </div>
                    <div class="col-lg-4 col-md-6 wow move-up">
                        <!-- Service Grid Start -->
                        <div class="service-grid">
                            <div class="ht-service-box--one style-03">
                                <a href="#">
                                    <div class="image__media">
                                        <img src="assets/images/icons/aeroland-box-image-06.png" class="img-fluid" alt="aeroland-app-showcase-box-icon-image-01">
                                    </div>
                                    <div class="content">
                                        <h6 class="heading">
                                            Connect ideas
                                        </h6>
                                        <div class="service_text">Consider this app a platform for connecting people from everywhere based on their preferences.</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- Service Grid End -->
                    </div>
                </div>
            </div>
        </div>


        <div class="saas-feature section-space--ptb_90">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center section-space--mb_60">
                            <h2 class="font-weight--light mb-15">Developed for Higher Business Growth</h2>
                            <span class="section-text">Offer your business with the best assistance for growth.</span>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 wow move-up">
                        <!-- Service Grid Start -->
                        <div class="service-grid">
                            <div class="ht-service-box--one style-03">
                                <a href="#">
                                    <div class="image__media">
                                        <img src="assets/images/icons/aeroland-box-image-01.png" class="img-fluid" alt="aeroland-app-showcase-box-icon-image-01">
                                    </div>
                                    <div class="content">
                                        <h6 class="heading">
                                            Connect ideas
                                        </h6>
                                        <div class="service_text">Consider this app a platform for connecting people from everywhere based on their preferences.</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- Service Grid End -->
                    </div>
                    <div class="col-lg-4 col-md-6 wow move-up">
                        <!-- Service Grid Start -->
                        <div class="service-grid">
                            <div class="ht-service-box--one style-03">
                                <a href="#">
                                    <div class="image__media">
                                        <img src="assets/images/icons/aeroland-box-image-02.png" class="img-fluid" alt="aeroland-app-showcase-box-icon-image-01">
                                    </div>
                                    <div class="content">
                                        <h6 class="heading">
                                            Connect ideas
                                        </h6>
                                        <div class="service_text">Consider this app a platform for connecting people from everywhere based on their preferences.</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- Service Grid End -->
                    </div>
                    <div class="col-lg-4 col-md-6 wow move-up">
                        <!-- Service Grid Start -->
                        <div class="service-grid">
                            <div class="ht-service-box--one style-03">
                                <a href="#">
                                    <div class="image__media">
                                        <img src="assets/images/icons/aeroland-box-image-03.png" class="img-fluid" alt="aeroland-app-showcase-box-icon-image-01">
                                    </div>
                                    <div class="content">
                                        <h6 class="heading">
                                            Connect ideas
                                        </h6>
                                        <div class="service_text">Consider this app a platform for connecting people from everywhere based on their preferences.</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- Service Grid End -->
                    </div>
                    <div class="col-lg-4 col-md-6 wow move-up">
                        <!-- Service Grid Start -->
                        <div class="service-grid">
                            <div class="ht-service-box--one style-03">
                                <a href="#">
                                    <div class="image__media">
                                        <img src="assets/images/icons/aeroland-box-image-04.png" class="img-fluid" alt="aeroland-app-showcase-box-icon-image-01">
                                    </div>
                                    <div class="content">
                                        <h6 class="heading">
                                            Connect ideas
                                        </h6>
                                        <div class="service_text">Consider this app a platform for connecting people from everywhere based on their preferences.</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- Service Grid End -->
                    </div>
                    <div class="col-lg-4 col-md-6 wow move-up">
                        <!-- Service Grid Start -->
                        <div class="service-grid">
                            <div class="ht-service-box--one style-03">
                                <a href="#">
                                    <div class="image__media">
                                        <img src="assets/images/icons/aeroland-box-image-05.png" class="img-fluid" alt="aeroland-app-showcase-box-icon-image-01">
                                    </div>
                                    <div class="content">
                                        <h6 class="heading">
                                            Connect ideas
                                        </h6>
                                        <div class="service_text">Consider this app a platform for connecting people from everywhere based on their preferences.</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- Service Grid End -->
                    </div>
                    <div class="col-lg-4 col-md-6 wow move-up">
                        <!-- Service Grid Start -->
                        <div class="service-grid">
                            <div class="ht-service-box--one style-03">
                                <a href="#">
                                    <div class="image__media">
                                        <img src="assets/images/icons/aeroland-box-image-06.png" class="img-fluid" alt="aeroland-app-showcase-box-icon-image-01">
                                    </div>
                                    <div class="content">
                                        <h6 class="heading">
                                            Connect ideas
                                        </h6>
                                        <div class="service_text">Consider this app a platform for connecting people from everywhere based on their preferences.</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- Service Grid End -->
                    </div>
                </div>
            </div>
        </div>


        <div class="payment-feature section-space--ptb_90 bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 mb-25 wow move-up">
                        <!-- Service Grid Start -->
                        <div class="ht-service-box--three">
                            <div class="service-box-wrap">
                                <div class="image__media">
                                    <img src="assets/images/icons/aeroland-payment-box-icon-01.png" class="img-fluid" alt="aeroland-payment-box-icon-01">
                                </div>
                                <div class="content">
                                    <h5 class="heading font-weight--light">
                                        Connect ideas
                                    </h5>
                                    <div class="service_text">Consider this app a platform for connecting people from everywhere based on their preferences.</div>
                                </div>
                            </div>
                        </div>
                        <!-- Service Grid End -->
                    </div>
                    <div class="col-lg-6 col-md-12 mb-25 wow move-up">
                        <!-- Service Grid Start -->
                        <div class="ht-service-box--three">
                            <div class="service-box-wrap">
                                <div class="image__media">
                                    <img src="assets/images/icons/aeroland-payment-box-icon-02.png" class="img-fluid" alt="aeroland-payment-box-icon-02">
                                </div>
                                <div class="content">
                                    <h5 class="heading font-weight--light">
                                        Connect ideas
                                    </h5>
                                    <div class="service_text">Consider this app a platform for connecting people from everywhere based on their preferences.</div>
                                </div>
                            </div>
                        </div>
                        <!-- Service Grid End -->
                    </div>
                    <div class="col-lg-6 col-md-12 mb-25 wow move-up">
                        <!-- Service Grid Start -->
                        <div class="ht-service-box--three">
                            <div class="service-box-wrap">
                                <div class="image__media">
                                    <img src="assets/images/icons/aeroland-payment-box-icon-03.png" class="img-fluid" alt="aeroland-payment-box-icon-03">
                                </div>
                                <div class="content">
                                    <h5 class="heading font-weight--light">
                                        Connect ideas
                                    </h5>
                                    <div class="service_text">Consider this app a platform for connecting people from everywhere based on their preferences.</div>
                                </div>
                            </div>
                        </div>
                        <!-- Service Grid End -->
                    </div>
                    <div class="col-lg-6 col-md-12 mb-25 wow move-up">
                        <!-- Service Grid Start -->
                        <div class="ht-service-box--three">
                            <div class="service-box-wrap">
                                <div class="image__media">
                                    <img src="assets/images/icons/aeroland-payment-box-icon-04.png" class="img-fluid" alt="aeroland-payment-box-icon-04">
                                </div>
                                <div class="content">
                                    <h5 class="heading font-weight--light">
                                        Connect ideas
                                    </h5>
                                    <div class="service_text">Consider this app a platform for connecting people from everywhere based on their preferences.</div>
                                </div>
                            </div>
                        </div>
                        <!-- Service Grid End -->
                    </div>
                </div>
            </div>
        </div>


    </div>

</body>

</html>